/* Material.css */

/* Styling for the search and dropdown container */
.mb-3.d-flex {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 10px;
}

.material-title {
    color: #815854;
    font-weight: bold;
    margin-left: 5px;
}

.mb-3.d-flex .form-control {
    flex-grow: 1;
    margin-right: 10px;
}

.mb-3.d-flex .form-select {
    width: 20%;
}

/* Styling for the button container */
.buttons-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons-container button {
    margin-right: 10px;
}

.buttons-container button:last-child {
    margin-right: 0;
}